* {
  text-decoration: none;
}
img {
  max-width: 40px;
}
a {
  color: #e44d26;
  padding-left: 20px;
  font-size: 25px;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
header {
  align-items: center;
  background-color: #e44d26;
  color: #000000;
  text-align: center;
  padding: 20px;;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}
section {
  flex: 0 1 300px;
  margin: 20px;
  padding: 10px;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h2 {
  color: #e44d26;
}
p {
  line-height: 1.6;
}
footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}
.Nav {
  flex: 0 1 300px;
  margin: 20px;
  padding: 10px;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.Michel {
  width: 35px;
  height: 35px;
  border-radius: 20px;
}
.Intro {
  text-justify: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 75%;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}


* {
  font-family: sans-serif;
  font-size: 1rem;
  margin: 0;
  transition: 0.4s;
}

.accordeon {
  border: 1px solid rgba(146, 146, 146, 0.3);
  width: 80%;
  max-width: 600px;
  margin: 10px auto;
}

.titre {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 8px 16px rgba(146, 146, 146, 0.3);
  -webkit-box-shadow: 0px 8px 16px rgba(146, 146, 146, 0.3);
  -moz-box-shadow: 0px 8px 16px rgba(146, 146, 146, 0.3);
}

.titre p {
  font-weight: 700;
}

.contenu {
  padding: 0 20px;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  text-decoration: none;
}

.accordeon.open .contenu {
  padding: 30px 20px;
  height: auto;
  visibility: visible;
}

.accordeon.open .titre span {
  transform-origin: center;
  transform: rotate(90deg);
}